 
 .fa-7x{
     image-resolution: 100%;
     color: maroon;
     left: 1100px;
     top: 400px;
     position: fixed;
    
 }
    
  
    /* Stylling rolldice button */
    .RollDice button{ 
    width:100px; 
    height:100px;
    padding:1.5em; 
    color:black; 
    background-color:goldenrod; 
    margin-top: 3em; 
    align-self: center; 
    } 
    
    /* Setting hover effect on button */
    .RollDice button:hover{ 
    cursor:pointer; 
    } 
    
    .RollDice-rolling{ 
    border: 0px; 
    border-radius: 10px; 
    background-color:red !important; 
    opacity:0.7
    } 
    